.mb-4 {
    color: black
}

.conference-objectives-section h2 {
    padding-bottom: 2%;
}

.objectives-text {
    color: rgb(48, 48, 48);
    font-size: 1rem;
    font-weight: bold;
}

.hero-section {
    background-image: url('/static/folder_1/images/background.png');
}

.icon-text-container {
    display: flex;         /* Enable flexbox */
    align-items: center;   /* Vertically center the flex items */
    gap: 8px; 
}

.objectives-list-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.objectives-list-container li {
    margin-bottom: 5%;
}

@keyframes appear-left {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.conference-objectives-section .objectives-list-container li {
    animation: appear-left 5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}


.objectives-list-container .fa-solid {
    color: rgb(79, 79, 255);
}

.learning-objectives-section {
    background-image: url('/static/folder_1/images/learning-objectives.png');
    background-size: cover;
    background-position: center;
    padding-top: 40px;
}

.learning-objectives-section .col-12 h2 {
    color: white;
    text-shadow: 4px 4px 2px black;
}



.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    margin-bottom: 0;
    margin-top: 50px;
    background-color: #b9b9b94d;
    padding: 30px;
}



.learning-objectives-section .container {
    padding: 10px 48px;
    position: relative;
    width: 50%;
    margin: 0;
}


.learning-objectives-section .container svg {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
}

.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.text-box p {
    color: black;
    font-weight: bold;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.right-container svg {
    left: -20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
}


.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -15px;
}


.attendance .person{
    display: flex;
    margin: 100px;
    margin-top: 25px;
    margin-bottom: 25px;

}

.attendance .person img {
    width: 200px;

    border: 3px solid black;
    border-radius: 100px;
}

.attendance {
    display: flex;
    flex-direction: column;
}

.attendance .person-left {
    animation: slide-left 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.attendance .person-right {
    justify-content: right;
    animation: slide-right 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.attendance .person h3 {
    color: rgb(74, 74, 74);
}

.attendance .person-left h3 {
    margin-left: 25px;
}

.attendance .person-right h3 {
    margin-right: 25px;
}

.attendance .text-center {
    margin-top: 50px;
    margin-bottom: 50px;
}

@keyframes slide-left {
    from{
        opacity: 0;
        margin-left: 0;
    }
    to {
        opacity: 1;
        margin-left: 100px;
    }
}

@keyframes slide-right {
    from{
        opacity: 0;
        margin-right: 0;
    }
    to {
        opacity: 1;
        margin-right: 100px;
    }
}

.collapse li a {
    text-shadow: 2px 2px 2px black;
}

.hero-section .container h2 {
    text-shadow: 4px 4px 2px black;
    padding-top: 30px;
}

.speakers h3 {
    margin-top: 160px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.speakers-section {
    background-image: url('/static/folder_1/images/Speakers/speaker-background-2.jpg');
}

.speakers-section h2 {
    color: #fff;
    padding-top: 50px;
    text-shadow: 3px 3px 2px black;
    text-decoration: underline;
}

.speakers {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 76vh;
}

.slider {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*60deg)) translateZ(350px); 
}

.slider span img {
    position: absolute;
    top: 0;
    left: 25px;
    width: 75%;
    height: 75%;
    border-radius: 100px;
    object-fit: cover;
    transition: 2s;
    border-style: solid;
    border-color: black;
}

.launch-time p {
    color: black;
    font-size: 60px;
}

.launch-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.launch-time div{
    margin: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.launch-time div h1 {
    color: rgb(79, 79, 255);
    text-shadow: 2px 2px 2px black;
}

.timer {
    /* background: linear-gradient(to right, lightblue, rgb(133, 172, 255)); */
    background-color: white;
}